
.center {
    text-align: center;
}

.black {
    color: black;
}

.sizeBig { 
    font-size: '2em'
}

.sizeMedium { 
   font-size: 16px !important;
}

.sizeSmall { 
   font-size: 11px !important;
}

.totalWith {
    width: 100% !important;
}

.password {
    composes: totalWith;
    composes: sizeSmall;
}

.container {
    composes: center;
}

.block { 
    max-width: 250px;
    text-align: left;
    margin: 20px auto;
}

.input {
    composes:center;
    padding: 20px;
    font-weight: bolder;
    composes: sizeBig;
}

.sliders {
    padding: '0px 45px';
    padding-top: 10px;
}
.label {
    padding: '0px 25px';
    composes: sizeBig;
};

.dialog_text {
    composes: black;
    composes: sizeMedium;
    composes: totalWith;
    composes:center;
};
.save_text {
    composes: black;
    composes: sizeMedium;
    composes: totalWith;
    composes:center;
}

.toggle {
    margin-bottom: 16px;
}
