.container {
    margin: auto 50px;
    box-shadow: 1px 2px 5px 1px #afafaf;
    border-radius: 10px;
    padding: 10px 29px;
    font-family: Arial;
    background-color: #fff;
}

body {
    background-color: #e6e6e6;
}